name: Run Layout Verification

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Run Python Files"]
    types:
      - completed
  push:
    paths:
      - 'submissions/**.gds'
      - 'submissions/**.oas'
    branches:
      - '**'
  pull_request:
    branches:
      - '**'


jobs:
  verification:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

        # can also specify python version if needed
      - name: setup python
        uses: actions/setup-python@v4

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install klayout SiEPIC siepic_ebeam_pdk
          python -m pip install --upgrade SiEPIC
          
      - name: get .gds and .oas files
        run: |
          
          PYTHON_TRIGGERED=""

          # if the action is being triggered after running python files, get resulting oas files from txt file
          # github actions is not configured to detect files pushed from another action, thus we cannot use the 'else' method below
          if [ -s "python-to-gds_oas.txt" ] && [ -n "$(cat python-to-gds_oas.txt)" ]; then
            PYTHON_TRIGGERED="True"

            export FILES=$(cat python-to-gds_oas.txt)
            IFS=' '
            echo "" > python-to-gds_oas.txt
             
            # push empty text file to repo
            git config --local user.email "${{ github.actor }}@users.noreply.github.com"
            git config --local user.name "${{ github.actor }}"
            git add python-to-gds_oas.txt
            git commit -m "Emptying text file" 
            git push

          else
            PYTHON_TRIGGERED="False"
            if [ "${{ github.event_name }}" = "pull_request" ]; then
              # triggered on pull request, get all changed / added files from forked repo
              export FILES=$(git diff --name-only --diff-filter=ACM FETCH_HEAD | grep -E '\.(gds|oas)$' | sed 's|^submissions/||')
            else
              # triggered push, locate the changed / added .gds and .oas files in the submission folder
              export FILES=$(git diff --name-status --diff-filter=ACM --relative=submissions ${{ github.event.before }} ${{ github.sha }} submissions | grep -E '\.(gds|oas)$' | awk '{print $2}')
            fi
            IFS=$'\n'
          fi

          echo "PYTHON_TRIGGERED=$PYTHON_TRIGGERED" >> $GITHUB_ENV
          echo "FILES=$FILES" >> $GITHUB_ENV

      - name: run layout verification
        run: |
          # print the names of the files
          echo "Files for verification; $FILES"

          files_with_errors=""
        
          # run verification on all files
          for file in $FILES; do

            echo "Running verification on $file"

            output=$(python run_verification.py "submissions/$file")

            # get number of errors
            errors_from_output=$(echo "$output" | tail -n 1)

            echo "$errors_from_output errors detected for $file"

            # if file results in verification errors add to string files_with_errors
            if [[ "$errors_from_output" -ge 1 ]]; then
              files_with_errors+="$file, $errors_from_output errors. "
            fi

            echo "Done verification on $file"
          done

          echo "files_with_errors=$files_with_errors" >> $GITHUB_ENV

      - name: move output lyrdb files to new folder
        run: |
          export OUTPUT_FILES=$(find /home/runner/work/openEBL-2024-02/openEBL-2024-02/submissions -name "*.lyrdb")
          echo "Output files: $OUTPUT_FILES"

          mkdir -p verification_output

          for file in $OUTPUT_FILES; do
            cp "$file" verification_output/
          done

      - name: upload verification output artifact
        uses: actions/upload-artifact@v4
        with:
          name: layout-errors
          path: verification_output/

      - name: if triggered by python action move generated .oas and .gds to a new folder
        run: |
          mkdir -p python_to_oas_gds

          for file in $FILES; do
            cp "submissions/$file" python_to_oas_gds/
          done
        if: ${{ env.PYTHON_TRIGGERED == 'True'}}

      - name: if triggered by python action upload .oas and .gds from new folder as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-to-oas-gds
          path: python_to_oas_gds/
        if: ${{ env.PYTHON_TRIGGERED == 'True'}}

      - name: fail if there are errors from layout verification
        run: |
          if [ -z "$files_with_errors" ]; then
            echo "No errors detected."
          else
            echo "Errors detected: $files_with_errors"
            exit 1
          fi

